.html body {
  background-color: #434e5e !important;
}

.jumbotron {
  background-color: #434e5e;
  height: 500px;
}

.jumbotron h1 {
  color: #FFFFFF;
  font-size: 48px;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
}
.jumbotron h6 {
  color: #FFFFFF;
  
}