.jumbotron {
  background-color: #434e5e;
  background-size: cover;
}

.jumbotron h1 {
  font-size: 48px;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
}

.jumbotron {
  color: #FFFFFF;
}

.game-description {
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
}